/* Universal resetting */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Hover effect added to text */
.div_1 {
  overflow: hidden;
  width: 2.1%;
  white-space: nowrap;
  transition: all 0.7s ease-in-out;
}
.div_1:hover {
  width: 100%;
}

.div_1:not(:hover) {
  width: 2.1%;
}
