* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Main container */
.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #640d5f;
}

/* Element container */
.sub_container {
  width: 450px;
  height: 500px;
  background-color: #d91656;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: #f4cce9;
  border-radius: 12px;
}

/* Form */
#user_input_form {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

/* Input_box */
.user_input_box {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.user_input_box:focus {
  font-size: 18px;
}

.user_input_box::placeholder {
  font-size: 16px !important;
}
/* Button */
.result_button {
  margin-top: 60px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: #eb5b00;
  transition: all 0.2s ease;
}

/* Button click effect */
.result_button:active {
  background-color: #c55108;
}

/* Result div */
.result_container {
  height: 45px;
  text-align: center;
  align-content: center;
  color: #ffd675;
  font-size: 23px;
}
