/* Default style reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Web page */
html {
  background-color: lightyellow;
}

/* Heading of page */
#main_heading {
  color: black;
  justify-self: center;
}

/* Main div box */
#main_container {
  width: 35vw;
  height: 65vh;
  background-color: lightcoral;
  color: black;
  margin: 100px auto;
  justify-items: center;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(182, 181, 181);
}

/* Main div container's heading */
#container_heading {
  padding-top: 20px;
}

/* Unit selector container */
#unit_selector_container {
  display: flex;
}

/* Unit selector's elements */
#length_selector_from,
#length_selector_to {
  font-size: 15px;
  background-color: gray;
  color: white;
  font-weight: bold;
  margin: 30px;
  border: none;
  outline: none;
  padding: 2px;
  appearance: none;
  width: 110px;
  text-align: center;
}

/* Arrow's line */
.arrow_line {
  margin-top: 38px;
  width: 20px;
  height: 3px;
  background-color: black;
  float: left;
}

/* Arrow's triangle */
.arrow_triangle {
  margin-top: 33px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
  float: left;
}

/* Input box container */
#input_main_container {
  position: relative;
}

/* Input box */
#user_input_box {
  height: 30px;
  font-size: 16px;
  transition: all 0.5s ease;
}

/* Placeholder */
#for_user_placeholder {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5px;
  color: gray;
  outline: none;
}

/* Submit button */
#submit_button {
  display: block;
  margin: 30px auto;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px grey;
}
