/* Default style reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Web page */
html {
  background-color: lightyellow;
}

/* Heading of page */
#main_heading {
  color: black;
  justify-self: center;
}

/* Main div box */
#main_container {
  width: 476px;
  height: 411.45px;
  background-color: lavenderblush;
  color: black;
  margin: 100px auto;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(95, 95, 95);
}

/* Main div container's heading */
#container_heading {
  padding-top: 20px;
}

/* Unit selector container */
#unit_selector_container {
  display: flex;
}

/* Unit selector's elements */
#length_selector_from,
#length_selector_to {
  font-size: 15px;
  background-color: rgb(173, 39, 39);
  color: white;
  font-weight: bold;
  margin: 30px;
  border: none;
  outline: none;
  padding: 2px;
  appearance: none;
  width: 110px;
  text-align: center;
  border-radius: 7px;
}

/* Arrow's line */
.arrow_line {
  margin-top: 38px;
  width: 20px;
  height: 3px;
  background-color: black;
  float: left;
}

/* Arrow's triangle */
.arrow_triangle {
  margin-top: 33px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
  float: left;
}

/* Form container */
#input_main_container {
  border-radius: 10px;
  transition: all 0.4s ease;
}

/* Input box container */
#input_sub_container {
  position: relative;
}

/* Input box */
#user_input_box {
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  text-align: start;
  box-sizing: content-box;
  padding-left: 10px;
}

/* Placeholder */
#for_user_placeholder {
  position: absolute;
  left: 5px;
  top: 7px;
  padding: 0px 5px;
  color: gray;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.7s ease;
}

/* Focus effect */
#user_input_box:focus {
  border-color: green;
}
#user_input_box:focus + #for_user_placeholder,
#user_input_box:not(:placeholder-shown) + #for_user_placeholder {
  top: -7.5px;
  font-size: 12px;
  color: green;
}

#user_input_box::placeholder {
  color: transparent;
}

/* Submit button */
#submit_button {
  margin: 30px auto;
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px grey;
  background-color: rgb(1, 206, 1);
  transition: all 0.5s ease;
}

#submit_button:hover {
  background-color: rgb(0, 165, 0);
}

/* Result */
#result_container {
  width: 50%;
  height: 35px;
  background-color: darkblue;
  color: yellow;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}